/*/*body{
	background-image: url(../img/bg.jpg);

}*/

body{
  /*background: url(../img/bg.jpg) no-repeat center center fixed;*/
  background-color: #25383C;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.name{
	color: #fff;
	text-align: center;
	padding-top: 100px;
	font-family: 'Mr De Haviland', cursive;
}

.name h1{
	font-size: 90px;
}

#quoteDisplay{
	color: #fff;

}

.quoteWindow{
  padding-top: 10px;
  text-align: center;
}

.myButtons{
  padding-top: 20px;
}
