/*/*body{
	background-image: url(../img/bg.jpg);

}*/

body{ 
  background: url(../img/bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.name{
	color: #fff;
	text-align: center;
	padding-top: 70px;
	font-family: 'Mr De Haviland', cursive;
}

.name h1{
	font-size: 90px;
}

#quoteDisplay{
	color: #fff;
	
}